/* GOLBAL  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    line-height: 2em;
    font-family: "Roboto Condensed", sans-serif;
}

/* CLASS read more  */
a.readMore {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
    transition: all 0.5s;
    color: black;
    text-decoration: none;
    display: inline-block;
}

a.readMore:hover {
    color: #469b47;
}

a.readMore::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #469b47;
    border: none;
    margin: 0;
    transition: all 0.5s;
}

/* dark theme class readMore  */
.dark a.readMore {
    color: white;
    transition: all 0.5s;
}

.dark a.readMore:hover {
    color: #469b47;
}

/* CLASS title  */
.title p:first-of-type {
    color: #f53626;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.title h2 {
    color: black;
    font-size: 2.2rem;
    font-weight: bold;
}

.title p:last-of-type {
    color: #696969;
    font-size: 1.3rem;
}

/* dark theme class title  */

.dark .title h2,
.dark .title p:last-of-type {
    color: white;
}

/* HEADER  */
#header {
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 100;
    background: white;
}

#header .header__left {
    font-size: 2.5rem;
    color: #469b47;
    font-weight: bold;
    letter-spacing: 2px;
}

#header .header__right .nav-item .nav-link,
#header .header__right .nav-item .dropdown-item {
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px;
    transition: all 0.5s;
    color: black;
}

#header .header__right .dropdown-toggle::after {
    display: none;
}

#header .header__right .nav-item.active .nav-link {
    color: #469b47;
}

#header .header__right .nav-item .nav-link::after,
#header .header__right .nav-item .dropdown-item::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: #469b47;
    border: none;
    margin: 0;
    transition: all 0.5s;
}

#header .header__right .nav-item:hover .nav-link::after,
#header .header__right .nav-item .dropdown-item:hover::after {
    width: 100%;
}

#header .header__right .nav-item:hover .nav-link,
#header .header__right .nav-item .dropdown-item:hover {
    color: #469b47;
}

.navbar-light .navbar-toggler {
    background-color: #469b47;
}

.navbar-light .navbar-toggler .fa-align-justify {
    color: white;
    font-size: 1.5rem;
}

/* CAROUSEL  */
#carouselExampleCaptions .carousel-indicators li {
    background-color: white;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all 0.5s;
}

#carouselExampleCaptions .carousel-indicators li:hover,
#carouselExampleCaptions .carousel-indicators li.active {
    width: 30px;
    border-radius: 5px;
    background-color: #469b47;
}

#carouselExampleCaptions .carousel-inner .carousel-item {
    position: relative;
}

#carouselExampleCaptions .carousel-inner .carousel-item img {
    height: 90vh;
    object-fit: cover;
}

#carouselExampleCaptions .carousel-inner .carousel-item::before {
    content: "";
    width: 100%;
    height: 90vh;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

#carouselExampleCaptions .carousel-inner .carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    min-width: 50vw;
}

#carouselExampleCaptions .carousel-inner .carousel-item h5 {
    font-size: 4.1rem;
    font-weight: bold;
    margin: 0;
}

#carouselExampleCaptions .carousel-inner .carousel-item a {
    font-size: 1.3rem;
    color: white;
    border: 1px solid white;
    margin: 20px 10px 0 0;
    padding: 10px 30px;
}

#carouselExampleCaptions .carousel-inner .carousel-item a:first-of-type,
#carouselExampleCaptions .carousel-inner .carousel-item a:hover {
    background: white;
    color: #469b47;
}

/* ABOUT US  */
#aboutUs {
    padding: 80px 0;
}

/* #aboutUs p:first-of-type {
    color: #f53626;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

#aboutUs h2 {
    font-size: 2.2rem;
    font-weight: bold;
}

#aboutUs p:last-of-type {
    color: #696969;
    font-size: 1.3rem;
} */

/* FEATURE  */
#feature {
    padding: 100px 0;
    background-color: #f8f9fa;
}

#feature .feature__item {
    background: white;
    margin: 15px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.5s;
}

#feature .feature__item:hover {
    background: rgba(147, 107, 232, 0.05);
}

#feature .feature__item i {
    font-size: 1.9rem;
    color: #469b47;
}

#feature .feature__item h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    transition: all 0.5s;
}

#feature .feature__item h2:hover {
    color: #469b47;
}

#feature .feature__item p {
    font-size: 1.3rem;
    color: #696969;
}

/* SERVICES  */
#services {
    padding: 100px 0;
}

#services img {
    border-radius: 10px;
}

#services p:first-of-type {
    margin-top: 40px;
}

#services p:last-of-type {
    color: #696969;
    font-size: 1rem;
}

#services .services__list {
    list-style: none;
    color: black;
}

#services .services__list li {
    padding: 5px 0;
}

#services .services__list i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: #469b47;
    border-radius: 50%;
    background-color: rgba(147, 107, 232, 0.05);
}

#services .services__list span {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 10px;
}

/* NUMBER COUNT UP  */
#number {
    background-color: #469b47;
    padding: 50px 0;
    text-align: center;
    color: white;
}

#number .number__item p:first-of-type {
    font-size: 2.9rem;
    margin-top: 30px;
    font-weight: bold;
}

#number .number__item p:last-of-type {
    font-size: 1.2rem;
}

/* OUR PLANS  */
#ourPlans {
    padding: 50px 0;
    background-color: #f8f9fa;
}

#ourPlans .ourPlans__top {
    margin: 40px 0;
}

#ourPlans .ourPlans__top p {
    color: #f53626;
    letter-spacing: 2px;
    font-size: 1.8rem;
    font-weight: bold;
}

#ourPlans .ourPlans__top h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

#ourPlans .ourPlans__content .ourPlans__item {
    padding: 50px 60px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.ourPlans__content .ourPlans__item .ourPlans__title {
    margin-bottom: 25px;
}

.ourPlans__content .ourPlans__item .ourPlans__title h3 {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
}

#ourPlans .ourPlans__content .ourPlans__item .ourPlans__title h4 {
    color: #469b47;
    font-weight: bold;
    font-size: 3rem;
}

#ourPlans .ourPlans__content .ourPlans__item .ourPlans__title h4 span:first-child {
    font-size: 2rem;
    vertical-align: super;
}

#ourPlans .ourPlans__content .ourPlans__item .ourPlans__title h4 span:last-child {
    font-size: 1.2rem;
    color: #696969;
}

#ourPlans .ourPlans__content .ourPlans__item .ourPlans__lists p {
    font-size: 1.2rem;
    padding-top: 5px;
    margin: 0;
    color: #696969;
}

#ourPlans .ourPlans__content .ourPlans__item a.btn {
    font-size: 1.1rem;
    margin-top: 40px;
    padding: 12px 35px;
    background-color: #469b47;
    color: white;
}

#ourPlans .ourPlans__content .ourPlans__center {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

#ourPlans .ourPlans__content .ourPlans__center .ourPlans__item.active {
    padding: 0 0 60px;
}


#ourPlans .ourPlans__content .ourPlans__center .ourPlans__lists {
    padding: 0 60px;

}

#ourPlans .ourPlans__content .ourPlans__center .ourPlans__item.active .ourPlans__title {
    padding: 20px 60px;
    background: #469b47;
}

#ourPlans .ourPlans__content .ourPlans__center .ourPlans__item.active .ourPlans__title h2 {
    display: inline-block;
    padding: 5px 20px;
    margin: 30px 0;
    color: #469b47;
    background-color: white;
    border-radius: 5px;
}

#ourPlans .ourPlans__content .ourPlans__center .ourPlans__item.active .ourPlans__title h3,
#ourPlans .ourPlans__content .ourPlans__center .ourPlans__item.active .ourPlans__title h4 span {
    color: white;
}

/* PET NUTRITION  */
#petNutrition {
    padding: 50px 0;
}

#petNutrition .petNutrition__content {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#petNutrition .petNutrition__content i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    font-size: 20px;
    color: #469b47;
    background-color: white;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    animation: autorun 2s infinite linear;
}

@keyframes autorun {
    0% {
        box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.3), 0 0 0 15px rgba(15, 162, 67, 0.25), 0 0 0 30px rgba(15, 162, 67, 0.20);
    }

    100% {
        box-shadow: 0 0 0 15px rgba(15, 162, 67, 0.25), 0 0 0 30px rgba(15, 162, 67, 0.20), 0 0 0 45px rgba(50, 100, 245, 0);
    }

}

#petNutrition .petNutrition__content i:hover {
    transform: translate(-50%, -50%) scale(110%);
}

/* FEEDBACK  */
#feedback {
    background-color: #f8f9fa;
    padding: 50px 0;
}

.feedback__content .feedback__item {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.feedback__content .feedback__item p {
    font-size: 1.2rem;
    color: #696969;

}

.feedback__content .feedback__item span {
    font-size: 3rem;
    color: #469b47;
}

.feedback__content .feedback__item .feedback__client img {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
}

.feedback__client .name__client h3 {
    font-size: 1.3rem;
    margin: 0;
    font-weight: bold;
}

.feedback__client .name__client p {
    margin: 0;
}

#feedback .owl-theme .owl-dots .owl-dot:focus {
    outline: none;
}

#feedback .owl-theme .owl-dots .active.owl-dot span,
#feedback .owl-theme .owl-dots .owl-dot:hover span {
    text-align: center;
    background-color: #469b47;
    width: 40px;
}

/* CONTACT  */
#contact {
    padding: 50px 0;
}

/* FOOTER  */
footer {
    background-color: black;
    color: white;
}

footer .footer__content a {
    text-decoration: none;
    transition: all 0.5s;
    color: #696969;
}

footer .footer__content ul {
    list-style: none;
}

footer .footer__content a:hover {
    text-decoration: underline;
    color: white;
}

footer .footer__content h4 {
    font-weight: bold;
    padding-bottom: 20px;
}

/* BACK TO TOP  */
.backToTop {
    visibility: hidden;
    opacity: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(70, 155, 71, 0.5);
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
}

.backToTop a {
    color: white;
    text-decoration: none;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* Light button theme  */
#switchButton {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}

.Light__Dark .btn:focus,
.Light__Dark .btn:focus {
    outline: none;
    box-shadow: none;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Theme*/

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark #header,
.dark #aboutUs,
.dark #services,
.dark #petNutrition,
.dark #contact {
    background-color: black;
}

.dark #feature,
.dark #ourPlans,
.dark #feedback {
    background-color: #222222;
}

.dark #header .header__right .nav-item.active .nav-link {
    color: #469b47;
}

.dark #header .header__right .nav-item .nav-link {
    color: white;
}

.dark #header .header__right .nav-item .dropdown-item {
    color: white;
    background-color: black;
}

.dark #header .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: black;
}

.dark #header .header__right .nav-item:hover .nav-link,
.dark #header .header__right .nav-item .dropdown-item:hover {
    color: #469b47;
}

.dark #feature .feature__item {
    background-color: black;
    color: white;
}

.dark #feature .feature__item p {
    color: #afafaf;
}

.dark #services .services__list {
    color: white;
}

.dark #services .services__list i {
    background-color: #222222;
}

.dark #ourPlans .ourPlans__top h2 {
    color: white;
}

.dark #ourPlans .ourPlans__content .ourPlans__item {
    background-color: black;
}

.dark .ourPlans__content .ourPlans__item .ourPlans__title h3 {
    color: white;
}

.dark .feedback__content .feedback__item {
    background-color: black;
}

.dark .feedback__client .name__client h3 {
    color: white;
}

/* dark theme class readMore  */
.dark a.readMore {
    color: white;
    transition: all 0.5s;
}

.dark a.readMore:hover {
    color: #469b47;
}

/* dark theme class title  */

.dark .title h2 {
    color: white;
}

.dark .title p:last-of-type {
    color: #696969;
}

/* RESPOINSIVE  ************************/
@media screen and (max-width: 991.98px) {
    #carouselExampleCaptions .carousel-inner .carousel-item h5 {
        font-size: 7vw;
    }

    #carouselExampleCaptions .carousel-inner .carousel-caption {
        min-width: 70vw;
    }
}

@media screen and (max-width: 575.98px) {
    #header .header__left {
        font-size: 7vw;
    }

    #carouselExampleCaptions .carousel-inner .carousel-item h5 {
        font-size: 10vw;
    }

    #carouselExampleCaptions .carousel-inner .carousel-caption {
        min-width: 80vw;
    }
}